* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center
}

#quiz {
	margin-top: 10%;
}

button {
	display: block;
	width: 300px;
	padding: 10px;
	margin-bottom: 2%;
	border: none
}

.resposta {
	margin: auto auto;
	margin-bottom: 1%;
	cursor: pointer
}

.resposta:hover {
	background: yellow;
}

.resposta.selecionada {
	background: #c9c9f6
}

#confirm {
	margin: auto auto;
	background: #11b411;
	border: none;
	color: white;
	border-radius: 10px;
	cursor: pointer
}

#confirm:hover {
	background: green
}

.errada {
	background: red;
	color: white
}

.correta {
	background: green;
	color: white;
	animation: piscaCerto 1s infinite
}

@keyframes piscaCerto {

	0%,
	49% {
		background-color: green;
	}

	50%,
	100% {
		background: seagreen;
	}


}

#status {
	padding: 10%;
}

#novoJogo {
	background: black;
	color: white;
	margin: auto auto;
	cursor: pointer
}

.oculto {
	display: none
}